<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CourrierCostReduction</title>
        <style>
            
        </style>
        
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template 
   <link href="/css/jumbotron-narrow.css" rel="stylesheet">-->
    </head>
    <body>
        <div class="container">
            <div class="header">
              <ul class="nav nav-pills pull-right" >
                <li><a href="/authorize/signout">Logout</a></li>

              
                
              </ul>
              <h3 class="text-muted">Welcome User <%= user %></h3>
            </div>
      
            <div>
              <h1><%= title %></h1>
              <p class="lead"></p>
              <p></p>
            <div class="row">
      
      
                <div class="col-md-12 col-xs-12 col-sm-0 col-lg-12 ">
                  <div class="col-md-1 col-xs-2 col-sm-0 col-lg-2 "></div>
                  <div class="col-md-10 col-xs-8 col-sm-8=12 col-lg-8">
                 

                         <!-- Debug output -->
      <% if (debug) { %>                   
    
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Debug</h5>
          <pre class="bg-light border p-3"><code><%= debug %></code></pre>
        </div>
      </div>
      <% } %>


                  </div>
                  <div class="col-md-1 col-xs-2 col-sm-0 col-lg-2"></div>
      
      
              </div>
            </div>


        





            <div class="jumbotron" id="Contact" >
                <h1>Please fill the form carefully</h1>
                  <br></br>
               <div class="container-fluid bg-5 text-center">
             <h3 class="cls3"><b>Send me mail </b></h3>
             <div class="row">
                 <div class="col-sm-5" style="text-align: left; font-size: 16px;">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Insert your name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="mailid" placeholder="Insert your mail id" type="email" required>
                        </div>
                    </div>
                    <textarea class="form-control" id="mail body" name="mailbody" placeholder="Write your mail here" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </div>
                 </div>
                 <div class="col-sm-7 slideanim">
                     <div class="row">
                         <div class="col-sm-6 form-group">
                             <input class="form-control" id="name" name="name" placeholder="Insert your name" type="text" required>
                         </div>
                         <div class="col-sm-6 form-group">
                             <input class="form-control" id="email" name="mailid" placeholder="Insert your mail id" type="email" required>
                         </div>
                     </div>
                     <textarea class="form-control" id="mail body" name="mailbody" placeholder="Write your mail here" rows="5"></textarea><br>
                     <div class="row">
                         <div class="col-sm-12 form-group">
                             <button class="btn btn-primary" type="submit">Send</button>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
       </div>
























      
          </div> <!-- /container -->
        </div>


        
    </body>
</html>